/* FOR CSS MODULE
  Add border style rules that are at least 5 pixels and a color of your choice.
*/
h1{color: black;}
.dev-practice {color: green;}
.red-text {color: red;}
.dev-experiment {color:fuchsia}
.gallery-wrapper {color: forestgreen}
.gallery-text {font-size: 50px;
  border: 1px solid orange}
.images-wrapper {border: 2px solid lightcoral}
.img-1 {border: 2px solid black}
.gallery-heading {font-size: 55px; font-family: cursive; line-height: 30%}
.hero-text {font-family: 'Courier New';
color: cornflowerblue}
.dinosaur-text {color:aquamarine}
p {font-family: 'Ysabeau Office', sans-serif;}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
}

nav {
  background-color: #054d80;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border: 4px dotted yellow;

}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
  border: 6px solid aquamarine;
}

nav ul li {
  margin-right: 4em;
  list-style: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bolder;
  border: 2px dashed olivedrab;
  font-family: cursive;
}

nav img {
  width: 50px;
  margin-left: 2em;
  border-radius: 100%;
  border: 1px groove fuchsia
}


a {
  color: inherit;
  text-decoration: none;
  border: 2px solid darkblue
}

.section {
  margin-top: 0px;
  padding: 3em;
  border: 4px dotted lime
}

.headers-section {
  text-align: center;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, aliceblue, #01ffff);
  border: 4px solid indigo
}

.about-section {
background-image: linear-gradient(to bottom right, aliceblue, lightpink);

}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 5em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 2em;
  margin-top: 0px;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  border: 2px solid darkcyan
}

button {
  border: none
  padding: 1em 2em;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.about-img-wrapper img {
  width: 100px;
  border-radius: 5px;
}

.about-img-wrapper {
  width: 50%;
}

.about-wrapper {
  display: flex;
  padding: 8em 4em;
  width: 80%;
  margin: 0 auto;
}

.gallery-section img {
  width: 300px;
  border-radius: 5px;
  max-height: 200px;
  margin: 0.5rem;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 80%;
  margin: 1.5em auto;
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 5em;
}

.section-header {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
  height: 800px;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px blue;
}

.awards-section-text {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}

.awards-section div {
  width: 80%;
}

.right-content-box img {
  width: 400px;
  z-index: 100;
  position: relative;
  top: 150px;
  right: 75px;
  border-radius: 10px;
}

.left-content-box {
  background-color: #e9f8ff;
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.left-content-box li {
  margin-top: 1em;

}

.left-content-box p {
  font-size: 1.5em;
  margin-top: 0px;
}

.right-content-box a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}

.steps-card {
  width: 150px;
  text-align: center;
  background-color: #f1f1f8;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid salmon
}

.steps-card h1 {
  font-size: 1.5em;
  border: 1px dashed brown
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5em auto;
  flex-wrap: wrap;
  border: 6px solid teal
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 30%;
  margin: 10em auto;
  background-color: #aec7fe;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
  height: 40vh;
  border: 10px dotted red
}

.certification-process-wrapper li {
  font-size: 1.2em;
  margin-top: 1em;
border: 1px solid darkgoldenrod
}

.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
  border: 3px dashed green
}

/* FOOTER */
.footer-section {
  background-color: #f1f1f8;
  padding: 2em;
  border: 2px solid tomato
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid powderblue
}
img.photo-change {width: 100px;}

h1, h2, h3, h4, h5, h6, h7 {font-family: 'Times New Roman', Times, serif;
color:black}