/* FOR CSS MODULE
  Add border style rules that are at least 5 pixels and a color of your choice.
*/

h1, h2, h3, h4, h5, h6 { font-family:'Times New Roman', Times, serif 
}

.nav-list {
  border: 5px dashed yellow;
}

.h1bor {
  background-color: peachpuff;
  border: 10px outset;
  border-color:  violet yellow silver  blue;
}

.h2-bor {
  border:inset;
  background-color: pink;
  border-width: 5px;
  border-radius: 10px;
  border-radius: 100%;
}

.h3-bor {
  border: 6px outset green;
  border-radius: 10px;
  padding: 3px;
  color: white;
}

.h4-bor {
  border: 4px dotted  red;
  color: white;
}

.h5-bor {
  border: 5px double blue;
  color: white;
}

h1 { 
  color: red;
}
.red-text{
  color: red;
}

h6 { 
  color: white;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
  background-image: linear-gradient(to bottom, black, grey, black, white);
}

nav {
  background-color: #054d80;
  margin: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers-section { color:rgb(0, 0, 0);
}

nav ul li {
  width: 9em;
  list-style: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bolder;
}

#nav-home { color: rgb(255, 255, 255); }

nav img {
  width: 50px;
  margin-left: 5em;
  border-radius: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-top: 0px;
  padding: 3em;
}

.headers-section {
  text-align: center;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, aliceblue, #01ffff);
}

.about-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 5em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 2em;
  margin-top: 0px;
}

.welcome { 
  color: green;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  border: 3px dashed darkblue;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.about-img-wrapper img { 
  width: 300px;
  border-radius: 100%;
  border: 10px double blue;
}

.about-img-wrapper {
  width: 40%;
}

.about-wrapper {
  display: flex;
  padding: 5em 4em;
  width: 100%;
  margin: 0 auto;
  
}

.gallery-section img {
  width: 300px;
  border-radius: 5px;
  border: 5px dotted red;
  max-height: 200px;
  margin: 0.5rem;
  
}

.multicolortext {
  background-image: linear-gradient(to left, violet, indigo, green, blue, white, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 80%;
  margin: 1.5em auto;
  background-image: linear-gradient(to bottom, black, grey);
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 5em;
  background-image: linear-gradient(to bottom, black, grey);
}

.section-header {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;
  
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink, blue, green, red);
  height: 800px;
  border: 20px inset;
  border-color: silver yellow silver yellow;
  border-width: 15px 10px 15px 10px;
}

.awards-section-text {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}

.awards-section div {
  width: 80%;
}

.right-content-box img {
  width: 400px;
  z-index: 100;
  position: relative;
  top: 150px;
  right: 75px;
  border-radius: 100%;
}

.left-content-box {
  background-image: linear-gradient(to right top, black, grey);
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.left-content-box li {
  margin-top: 1em;

}

.left-content-box p {
  font-size: 1.5em;
  margin-top: 0px;
  border: 2px dotted red;
}

.right-content-box a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}

.steps-card {
  width: 150px;
  text-align: center;
  background-color: #f1f1f8;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-card h1 {
  font-size: 1.5em;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5em auto;
  flex-wrap: wrap;
  border: 5px dotted black;
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 30%;
  margin: 10em auto;
  background-color: #aec7fe;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
  height: 40vh;
  border-top: 2px double red;
  border-bottom: 3px dashed blue;
  border-left: 5px outset white;
  border-right: 5px inset yellow;
}

.certification-process-wrapper li {
  font-size: 1.2em;
  margin-top: 1em;
}

.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
  border: 3px solid green;
}

/* FOOTER */
.footer-section {
  background-color: #f1f1f8;
  padding: 2em;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
